
:root{
    --cor-principal: #001D57;
}
    

*{
    margin: 0; /*espaço após a borda, um elemento significa 0 para todas as direções*/
    padding: 0; /*espaço entre conteúdo e borda, um elemento significa 0 para todas as direções*/
    box-sizing: border-box; /*Para que padding ou border não somar com o tamanho do nosso elemento*/
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    height: 100vh; /*Ocupa 100% da altura do navegador, depende do dispositivo*/
}

.inteface{
    max-width: 80rem; /*Largura Máxima*/
    margin: 0 auto; /*Define espaço norte e sul como 0 e laterais automáticas*/
}


/*Cabeçalho*/

header{
    padding: 1.5rem 4%; /*Espaço entre contéudo e a borda*/
    background-color: var(--cor-principal);
}

header .top-nav{
    display: flex; /*Modelo Flexbox*/
    align-items: center; /*Orientação Vertical*/
    justify-content: space-between; /*Orientação Horizontal*/
}


header a {
    color: #5c5c5c; /*Cor do conteúdo*/
    text-decoration: none;
    display: inline-block; /*Disposição Horizontal com largura e altura definidas*/
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #ffffff; /*Define a cor do conteúdo com a váriavel cor-principal*/
    transform: scale(1.05); /*Aumenta o tamanho do contéudo*/
}

header nav ul {
    list-style-type: none; /*Para não aparecer os pontinhos de lista*/
}

header nav.menu-desktop ul li {
    display: inline-block; /*Disposição Horizontal com largura e altura definidas*/
    padding: 0 2rem; /*Espaço entre contéudo e a borda*/
}

.menu-mobile{
    display: none; /*Para não aparecer dois menus*/
}


/*Perguntar como funciona cada bloco desse: .nome{} header tag {} header tag.nome{} header > {}*/
/*Main -> Seções*/
main{
    display: flex; /*Modelo Flexbox*/
    flex-direction: column;
}

.page{
    background-color: #ffffff;
}

.frame-inicio{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: rgb(184, 99, 99);
}

.info-inicio{
    display:flex; /*Modelo Flexbox*/
    justify-content: center; /*Orientação Horizontal*/
    align-items: center; /*Orientação Vertical*/
    flex-direction: column; /*Blocos no formato de coluna (padrão é linha)*/
}

.frame-sobre{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: beige;
}

.frame-produtos{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: rgb(224, 224, 153);
}

.frame-produtos ul{
    list-style-type: none; /* Remove os pontos nas listas*/
}

.frame-livre{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: rgb(189, 131, 93);
}

.frame-comentarios{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: rgb(220, 228, 245);
}

.frame-comentarios ul{
    list-style-type: none;
}

.frame-contatos{
    display: flex; /*Modelo Flexbox*/
    padding: 22.5rem 24.375rem; /*Espaço entre o elemento e borda, dois argumentos significam: espaço vertical e espaço horizontal*/
    background-color: rgb(124, 42, 100);
}